/*********** Heading *************/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#nav-list li a{
  color: #951C49;
  text-align: center;
}

#nav-list li a:hover{
  background: #E7E7E7;
}

#nav-list a {
  font-size: 1.8em;
}

/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0px;
}

#title{
  font-size: 2em;
}
section{
	position: relative;
}

section h4{
	position: absolute;
	text-align: center;
	border: 2px solid black;
	font-weight: bold;
	width: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  right:15px;
}

section p{
	border: 1px solid black;
  background: gray;
  margin-left: 10px;
}

.chicken-title{
	background-color: pink;
}

.beef-title{
	background-color: red;
	color: white;
}

.sushi-title{
	background-color: khaki;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}

.navbar-header span{
  font-size: 1.5em;
}